.sliceItem
{
display: block;
background: white;
border: 1px solid black;
}

#AddSliceButton .icon
{
  width:25px;
  height:25px;
  display:inline-block;
  background-image: url("../img/addSlice_normal.png");
}
#AddSliceButton:hover .icon
{
  background-image: url("../img/addSlice_hover.png");
}
