.slice {
 padding: 5px;
 border: 1px solid black;
 text-align: left;
 padding: 10px;
 background: #F2F2F2;
}

.slice.active {
  background: yellow;
}

.slice h3 {
 margin-top: 0;
}

.slice button {
width: 25px;
height: 25px;
margin: 3px;
}

.slice .buttons {
  margin-top: 10px;
}

.showhide.shown {
background-image: url("../../../public/showhide.png");
}

.showhide.hidden {
background-image: url("../../../public/showhide_hide.png");
}


.edit {
background-image: url("../../../public/edit.png");
}

.remove {
background-image: url("../../../public/remove.png");
}

.divider {
  width: 60px;
}
